<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669371315916-bo6sc4baatljfn7ppl3a46902kl9fgtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669371315916-bo6sc4baatljfn7ppl3a46902kl9fgtp</string>
	<key>API_KEY</key>
	<string>AIzaSyCVmyUnIez7cRp16HoGkaKdXm9-8-2zDtk</string>
	<key>GCM_SENDER_ID</key>
	<string>669371315916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fab.properties</string>
	<key>PROJECT_ID</key>
	<string>fab-properties-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fab-properties-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669371315916:ios:187a54d2d5085079f6b469</string>
</dict>
</plist>