gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# Android Studio will place build artifacts here
/Users/apple/System/MobileAppRelated/properties_mobile_ubs_gulf/android/gradle-8.0-all.zip
/android/gradle-8.0-all.zip
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/
/android/build/
/android/app/build/intermediates/
/android/app/build/kotlin/
/android/app/build/outputs/
/android/app/build/outputs/apk/debug/app-debug.apk
/android/app/build/outputs/apk/release/app-release.apk
.dart_tool/package_config.json
.flutter-plugins-dependencies
.DS_Store
.dart_tool/package_config.json
android/app/build/

# Flutter specific
.dart_tool/package_config.json
.flutter-plugins-dependencies
